<p>second works!</p>
<button (click)="paire()">tester la parite</button>
<div>
    <h2>{{titre }}</h2>
    <p>{{description|| " aucune description disponible"}}</p>
    <p>{{remarque}}</p>
</div>
<!-- formulaire avec nom et prenom-->
<form>
    <div><h1>Bienvenu {{nom+ " "+prenom}}</h1></div>
    <div>

        <label for="nom">Nom</label>
        <input type="text" [(ngModel)]="nom"  id="nom" name="nom" />
    </div>
    <div>
        <label for="prenom">Prenom</label>
        <input type="text" [(ngModel)]="prenom" id="prenom" name="prenom" />
    </div>
    <div>
        <button type="submit">Envoyer</button>
    </div>
</form>
<a href="/home">Home Component</a>
```